!!!
%html
  %head{lang: "en"}
    %title Focus: Break your phone addiction and concentrate on what you have to do!
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}
    %meta{content: "Focus by Axon", name: "title"}
    %meta{content: "Break your phone addiction and concentrate on what you have to do!", name: "description"}
    %meta{content: "Focus, todo, to-do, task, task management, voice recognition ", name: "keywords"}
    %meta{content: "website", property: "og:type"}
    %meta{content: "Focus by Axon", property: "og:title"}
    %meta{content: "Break your phone addiction and concentrate on what you have to do!", property: "og:description"}
    %meta{content: "http://blinkr.jp/assets/images/logo.png", property: "og:image"}/
    %meta{content: "http://blinkr.jp/", property: "og:url"}/
    %meta{content: "Focus: Fast and Simple Task Manager", property: "og:site_name"}/
    %meta{content: "summary", name: "twitter:card"}/
    %meta{content: "@blinkr_gb", name: "twitter:site"}/
    %meta{name: "apple-itunes-app", content: "app-id=1227288188"}/
    %script{type: "text/javascript", src: "./assets/js/jquery-3.2.0.min.js"}
    %script{type: "text/javascript", src: "./assets/js/bootstrap.min.js"}
    %script{type: "text/javascript", src: "./assets/js/scroll.js"}
    %script{type: "text/javascript", src: "//j.wovn.io/1", data-wovnio: "key=duehbK", async: true}
    %link{rel: "stylesheet", type: "text/css", href: "./assets/css/bootstrap.min.css"}
    %link{rel: "stylesheet", type: "text/css", href: "./assets/css/font.css"}
    %link{rel: "stylesheet", type: "text/css", href: "./assets/css/main.css"}
    %link{rel: "stylesheet", type: "text/css", href: "./assets/font-awesome/css/font-awesome.min.css"}
    %link{href: "https://fonts.googleapis.com/css?family=Courgette", rel: "stylesheet"}
    %link{rel: "shortcut icon", type: "image/x-icon", href: "./favicon.ico"}
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid.navbar-position
        .navbar-header
          %a.navbar-brand{href: "#intro"}
            .blinkr-icon
              %img{src: "./assets/images/logo.png"}
            .blinkr-title Focus
    %section#intro
      .col-lg-6.col-lg-offset-1.col-sm-6.col-xs-12
        %h1.title Break your phone addiction and concentrate on what you have to do!
        .apple
          -# %a{href: "https://itunes.apple.com/us/app/blinkr-fast-and-simple-task-manager/id1227288188?ls=1&mt=8", target: "_blank"}
            %img.apple-banner{src: "./assets/images/apple.svg"}
            %button.apple-button.btn.visible-xs-block{type: "button"}
              GET STARTED FOR FREE
      .col-lg-5.col-sm-6.col-xs-12.header-ios
        %img{src: "./assets/images/demo.png"}
        %img.demo-video{src: "./assets/videos/demo.png"}
    %section#features.text-center
      .container
        .row
          .col-lg-8.col-lg-offset-2
            %h1 Features
      .container
        .row
          .col-md-4.col-sm-6.card-parent
            .card
              .row
                %h2
                  %i.icon.fa.fa-clock-o
                  Timer
                %p Setting a timer and break your phone addiction
          .col-md-4.col-sm-6.card-parent
            .card
              .row
                %h2
                  %i.icon.fa.fa-bar-chart
                  Graph
                %p The results can be compared day by day
          .col-md-4.col-md-offset-0.col-sm-6.col-sm-offset-3.card-parent
            .card
              .row
                %h2
                  %i.icon.fa.fa-paw
                  Cute Cats
                %p Let's have cute cates with candies you collected
   %footer.footer
     .container
       %span © Axon Inc.  All rights reserved
       .clearfix.visible-xs-block
       %span
         %a{href: "./privacy_policy", style: "color: white;"}
           Privacy Policy
       .clearfix.visible-xs-block
       %span
         %a{href: "./terms_of_service", style: "color: white;"}
           Terms of Service
       .clearfix.visible-xs-block
       %span.right
         Email to 
         %a{href: "mailto:info@axn.jp?subject=Focus Support", style: "color: white;"}
           info@axn.jp
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-98622825-1', 'auto');
    ga('send', 'pageview');
