@font-face {
  font-family: 'migmix-1p';
  src: url("../fonts/migmix-2p-regular.ttf") format("truetype"), url("../fonts/migmix-2p-regular.woff") format("woff"); }

@font-face {
  font-family: 'NotoSans-Regular';
  src: url("../fonts/NotoSans-Regular.ttf") format("opentype"), url("../fonts/NotoSans-Regular.woff2") format("woff"); }
